.header{
    display:flex;
    justify-content: end;
    align-items: center; 

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,6,88,1) 23%, rgba(9,9,121,1) 43%, rgba(6,81,168,1) 62%, rgba(4,123,196,1) 83%, rgba(0,212,255,1) 100%);
    
    width: absolute;
    height: 120px;
    border: 1px solid black;
    color:azure;
    font-size: 24px;
}
.logo{
    max-width: 50px;
    max-height: 50px;
    border-radius: 25px;
}
.busca{
    display: flex;
    width:180px;
    height: 22px;
    background-color: rgb(205, 205, 217);
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 6px;
    margin-top: 30px;
}
.buscaBut{
    display: flex;
    align-items: center;
    background-color:grey ;
    color:white;
    width: 55px;
    height:50px;
    margin-right: 45px;
    margin-top: 30px;
    border-radius:30px;
}
.buscaBut:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}